<html>
<head>
    <title>Product App</title>
</head>
<link rel="stylesheet" type="text/css" href="style.css">

    <body>
        <div class="nav-bar"></div>

        <div id="app">
        <div class="product">

            <div class="product-image">
                <img :src="image">
            </div>   

            <div class="product-info">
                <h1>{{ product }}</h1></h>

                <p v-show="inStock">In Stock</p>

                <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Almost out of stock</p>
                <p v-else>Out of Stock</p>

                <p v-if="onSale">On Sale!!</p>

                <ul>
                    <li v-for="detail in details"> {{ detail }}</li>
                </ul>

                <ul>
                    <li v-for="size in sizes"> {{ size }}</li>
                </ul>

                <div v-for="variant in variants" :key="variant.variantId">
                <p @mouseover="updateProduct(variant.variantImage)">{{ variant.variantColor }} </p>
                </div>

                <p>
                <a :href="url" target="_blank">More product like this</a>
            </p>

                <button v-on:click="addToCart">Add to Cart</button>
                <div class="cart">
                    <p>Cart({{ cart }})</p>
                </div>
            
            </div>
       </div>      
    </div>
      

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="main.js"></script>

</body>
</html>